*{
    margin:0;padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    outline: none;border: none;
    text-decoration: none;
    font-weight: normal;
    transition: all .2s linear;
}
html{
    font-size:62.5%;
}
body{
    min-height: 100vh;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    background: linear-gradient(rgb(0, 45, 248),rgb(65, 0, 126));
    padding:5.5rem;
}
header{
    width: 35rem;
    background: rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter:blur(.4rem) ;
    text-align:center ;
    padding: 1rem;
    border-radius: 1rem; 
}
section{
    padding: 1rem 7%;
}
header .us{
    padding-top: 2rem;
}
header .us img{
    margin:1rem 0;
    height: 18rem;
    width: 15rem;
    border-radius: 2%;
    object-fit: cover;
    box-shadow: 0 0 0 1rem rgba(255,255,255,.2);
}
header .us .n{
    font-size: 3rem;
    color: #fff;
    padding: .5rem 0;
}
header .nav{
    padding: 1rem,3rem;
}
header .nav ul li{
    margin: 1rem 0;
    list-style: none;
}
header .nav ul li a{
    display: block;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    background: rgba(255,255,255,.2);
    box-shadow:0 1rem 2rem rgba(0,0,0,.2);
    border-radius:1rem;
} 
header .nav ul li a:hover{
    background: rgba(255,255,255,.5);
    color:#555;
}
.con{
    height: 57rem;
    width: 77rem;
    background: rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter:blur(.4rem) ;
    border-radius: 1rem;
    overflow: hidden;
}
.h{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    padding-bottom: 10rem;
}
.h h3{
    font-size: 2.5rem;
    font-weight: lighter;
    color: #eee;
}
.h .n span{
    font-size:4rem;
    color: #fff;
}
.a{
    min-height: 100%;
}
.head{
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    color: #fff;
}
.a .con1 p{
    font-size: 1.5rem;
    color:#fff;
    padding: .5rem 0;
}
.a .skill{
    padding: 1rem 0;
}
.a .skill .pro{
    margin: 1rem 0;
    padding: 1rem;
    box-shadow:0 1rem 2rem rgba(0,0,0,.2) ;
    background: rgba(255,255,255,.2);
    border-radius: 1rem;
}
.a .skill .pro h3{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: #fff;
}
.a .skill .pro .bar{
    position: relative;
    width: 100%;
    height: .3rem;
    margin: 1rem 0;
    background: #555;
}
.a .skill .pro .bar span{
    position:absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
    background:#fff;
}
.a .skill .pro:nth-child(1) .bar span{
    width:78%;
}
.a .skill .pro:nth-child(2) .bar span{
    width:75%;
}
.a .skill .pro:nth-child(3) .bar span{
    width:80%;
}
.a .skill .pro:nth-child(4) .bar span{
    width:75%;
}
.a .skill .pro:nth-child(5) .bar span{
    width:90%;
}
.a .skill .pro:nth-child(6) .bar span{
    width:88%;
}
.a .skill .pro:nth-child(7) .bar span{
    width:88%;
}
.a .skill .pro:nth-child(8) .bar span{
    width:75%;
}
.a .con1 .ul li{
    font-size: 2rem;
    color:#fff;
    padding: .5rem 0;
    text-align: left;
    margin-left: 4rem;
}
.btn{  
    font-size: 2rem;
    padding: .4rem 4rem;
    background: rgba(255,255,255,.2);
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    margin-top: 1rem;
    cursor:pointer;
}
.contact{
    min-height: 100%;
}
.contact .row{
    display: flex;
    justify-content: space-between;
    padding-top: 7rem;
}
.contact .row form{
    background: rgba(255,255,255,.1);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}
.contact .row form .box{
    background: rgba(255,255,255,.1);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 1rem 0;
    height: 4rem;
    width: 49%;
    font-size: 1.7rem;
    color: #fff;
}
.contact .row form .box::placeholder{
    text-transform: capitalize;
    color: #fff;
}
.contact .row form .bm{
    background: rgba(255,255,255,.1);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    padding: 0 1rem;
    padding: 1rem;
    height: 15rem;
    width: 100%;
    font-size: 1.7rem;
    color: #fff;
}
.contact .row form .bm::placeholder{
    text-transform: capitalize;
    color: #fff;
}
.contact .row .cs{
    padding: 0 3rem;
}
.contact .row .cs .ic{
    padding: 1rem 0;
}
.contact .row .cs .ic h3{
    font-size: 2rem;
    color:#fff;
    padding: 1rem 0;
    display: block;
}
.contact .row .cs .ic p{
    font-size: 1.5rem;
    color:#fff;
}